body {
  background-color: rgb(78, 194, 231);;
  transition:background 1s;
}
.wrap {
  position: relative;
}
.coffee {
  width: 100%;
  text-align: center;
  &__h1 {
    font: bold 40px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 2px 0 #bbbbbb, 
    0 1px 0 #b9b9b9, 0 2px 0 #aaaaaa, 0 2px 1px rgba(0, 0, 0, 0.1), 
    0 0 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.3), 
    0 1px 2px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.25), 
    0 3px 3px rgba(0, 0, 0, 0.2), 0 5px 5px rgba(0, 0, 0, 0.15);
  width: 100%;
  text-align: center;
  }
  &__content {
    font-size: 1.5em; 
    background-color: #000;
    padding: 10px;
    color: #fff;
    font-family: sans-serif;
    letter-spacing: .04em;
    margin-left:auto; margin-right: auto;
    padding: 1em;
    max-width: 22em;
  }

}
.copyleft {
  margin-top: 1em;
  margin-bottom: 2em;
  text-align: end;
  text-align: center;
  font-size: 1.3em;
  a {
    display: inline;
    font-size: 1em;
    transition: color 1s;
    color: #fff;
    img {
      width: 1em;
    }
  }
  a:first-child {
    transform: rotate(10deg);
    display: block;
    margin-right: 7em;
  }
  a:last-child {
    transform: rotate(-10deg);
    display: block;
    margin-left: 7em;
  }
}
.box{
  position: absolute;
  top: 50%;
  left: 50%;
  min-height: 300px;
  min-width: 50%;
  transform: translateX(-50%) translateY(0%); 
  background-color: rgba(255,255,255, 1);
  padding: 30px;
  border-radius: 1em;
  margin-bottom: 2em;
  color: rgb(14, 141, 188);
  font-size: 1.4em;
  &__quote {    
    width: 80%;
    margin-left: 75px;
  font-size: 1.5em;
    transition:color 1s;
  }
  &__author {
    width: 90%;
    float: right;
    text-align: right;
    transition:color 2s;
  }
  &__link {
    display: block;
    position: relative;
    float: left;
    top: 0;
    left: 0;
    background-color: rgb(78, 194, 231);;
    color: #fff;
    margin-bottom: 1em;
    margin-top: 4em;
    transition:background 1s;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    width: 7em;
    height: 2.4em;
    text-align: center;
    line-height: 2.1em;
    text-decoration: initial;
    margin-top: 2em;
    margin-left: 3em;
    animation: all 300ms linear;
    border: 0 none;
    &:active {
      -webkit-box-shadow: inset 0 0 0 1px #27496d,inset 0 5px 30px #193047;
      -moz-box-shadow: inset 0 0 0 1px #27496d,inset 0 5px 30px #193047;
      box-shadow: inset 0 0 0 1px #27496d,inset 0 5px 30px #193047;
    }
    &:hover {
      opacity: 0.9;
      border: 0 none;

    }
  }

  svg {
    position: relative;
    top: 0;
    display: block;
    font-size: 2em;
    width: 80px;
    height: 80px;
    fill: rgb(14, 141, 188);
    transition:color 1s;
  }
  .box__svg--color {
    transition:fill 1s;
  }
  &__svg--right {
    float: right;
    margin-top: 0.6em;
  }
  &__svg--left {
    fill: red;
  }
}
//footer {
    //position: absolute;
    //top: 115%;
    //left: 0;
    //min-width: 100%;
    //transform: translateX(0%) translateY(-50%);
    //margin-top: 1em;
    //margin-bottom: 1em;
    //text-align: end;
    //text-align: center;
    //font-size: 1.3em;
  //a,p {
    //display: inline;
    //font-size: 1em;
    //transition: color 1s;
    //color: #fff;
    //img {
      //width: 1em;
    //}

  //}
//}
